{% extends "layout.html" %}

{% block content %}


<script>
    
    //List of chords
    let chords = {
        rest: [null, '#dbdbdb'],
        Am: ['Am', '#FE94C9'],
        E7: ['E7', '#00DCFB'],
        F: ['F', '#FDC5F3'],
        D: ['D', '#00FB78'],
        G: ['G', '#FAFF0B'],
        C: ['C', '#FCA765'],
        Dm: ['Dm', '#C3C2FF'],
        Bb: ['Bb', '#F9ABAB'],
        E: ['E', '#A9CBFF'],
        B: ['B', '#C5F986'],
        Em: ['Em', '#ADE0E7'],
        Am7: ['Am7', '#B7DDB9'],
        A7: ['A7', '#EF94F8'],
        A: ['A', '#FBFF97'],
        G7: ['G7', '#B8FEEC'],
        Cm7: ['Cm7', '#E7C7F5'],
        Fm7: ['Fm7', '#D3D979'],
        c3: ['3', '#f9aaaa'],
        c2: ['2', '#f9aaaa'],
        c1: ['1', '#f9aaaa']
    };

    //List of order of chords
    const chordOrder = [
        [chords.G, 2], [chords.C, 2], [chords.F, 2], [chords.G, 4], [chords.C, 2], [chords.F, 2], [chords.G, 4],
        [chords.C, 2], [chords.F, 1], [chords.G, 3], [chords.G7, 2], [chords.C, 2], [chords.F, 2], [chords.G, 4], [chords.C, 2],
        [chords.F, 1], [chords.G, 3], [chords.G7, 2], [chords.C, 2], [chords.F, 1], [chords.G, 3], [chords.G7, 2], [chords.C, 2],
        [chords.F, 2], [chords.G, 4], [chords.C, 2], [chords.F, 1], [chords.G, 5], [chords.C, 2], [chords.F, 2], [chords.G, 4],
        [chords.C, 2], [chords.F, 2], [chords.G, 4], [chords.C, 2], [chords.F, 2], [chords.G, 3], [chords.C, 3], [chords.F, 1],
        [chords.G, 5], [chords.C, 2], [chords.F, 1], [chords.G, 5], [chords.C, 2], [chords.F, 2], [chords.G, 4], [chords.C, 2],
        [chords.F, 1], [chords.G, 3], [chords.G7, 2], [chords.C, 2], [chords.F, 2], [chords.G, 4], [chords.C, 2], [chords.F, 1],
        [chords.G, 3], [chords.G7, 2], [chords.C, 2], [chords.F, 1], [chords.G, 3], [chords.G7, 2], [chords.C, 2], [chords.F, 1],
        [chords.G, 5], [chords.C, 1], [chords.F, 2], [chords.G, 5], [chords.C, 2], [chords.F, 1], [chords.G, 5], [chords.C, 2],
        [chords.F, 2], [chords.G, 4], [chords.C, 2], [chords.F, 2], [chords.G, 4], [chords.C, 2], [chords.F, 1], [chords.G, 3],
        [chords.F, 2], [chords.C, 2], [chords.F, 2], [chords.G, 4], [chords.C, 2], [chords.F, 1], [chords.G, 3], [chords.G7, 2],
        [chords.C, 2], [chords.F, 2], [chords.G, 4], [chords.C, 2], [chords.F, 1], [chords.G, 3], [chords.G7, 2],
        [chords.C, 2], [chords.F, 1], [chords.G, 3], [chords.G7, 2], [chords.C, 2], [chords.F, 2], [chords.G, 4], [chords.C, 2],
        [chords.F, 1], [chords.G, 5], [chords.C, 2], [chords.F, 2], [chords.G, 4], [chords.C, 2], [chords.F, 1], [chords.G, 5],
        [chords.C, 2], [chords.F, 1], [chords.G, 3], [chords.C, 1], [chords.F, 2], [chords.G, 2], [chords.C, 1], [chords.F, 2],
        [chords.G, 2], [chords.C, 1], [chords.F, 1], [chords.G, 2], [chords.C, 1], [chords.F, 2], [chords.G7, 2], [chords.C, 1],
        [chords.F, 2], [chords.G7, 2], [chords.C, 1], [chords.F, 1], [chords.G, 2], [chords.C, 1], [chords.F, 1], [chords.G, 2],
        [chords.C, 2], [chords.F, 1], [chords.G7, 2], [chords.C, 1], [chords.F, 1], [chords.G7, 2], [chords.C, 2], [chords.Fm7, 1],
        [chords.G, 2], [chords.C, 1], [chords.Fm7, 1], [chords.G, 2], [chords.F, 2], [chords.G, 2], [chords.F, 2], [chords.G, 3],
        [chords.F, 3], [chords.G, 3], [chords.F, 2], [chords.G, 2], [chords.F, 3], [chords.G7, 2], [chords.F, 1], [chords.G7, 3],
        [chords.Fm7, 2], [chords.G7, 2], [chords.C, 3], [chords.rest, 0], [chords.rest, 0]
    ];
    //List of numbers for countdown
    let numbers = [[chords.c3, 2], [chords.c2, 2], [chords.c1, 2]];
    //Variables
    let isPaused = false; //Stores if song is paused
    let resumeResolve = null; //Variable for pausing function
    let resumePromise = null; //Variable for pausing function
    let keyPressed = false; //Stores if space bar has been pressed
    let beat = (60 / 158); //bpm of the song
    let i = 0 //counter for countdown

    //Pauses the song
    function togglePause() {
        isPaused = !isPaused;
        const button = document.getElementById("pauseButton");

        if (isPaused) {
            //Changes appearance of pause button
            button.style.backgroundImage = "url('static/Media/play-button.png')";
            button.style.backgroundColor = "Red";
            //Pauses song
            resumePromise = new Promise((resolve) => {
                resumeResolve = resolve;
            });
        } else {
            //Changes appearance of pause button
            button.style.backgroundImage = "url('static/Media/pause.png')";
            button.style.backgroundColor = "limegreen";
            //Unpauses song
            if (resumeResolve) {
                resumeResolve();
                resumeResolve = null;
                resumePromise = null;
            }
        }
    }

    //Doesn't allow song to play when paused
    async function pauseExecution() {
        if (isPaused) {
            await resumePromise;
        }
    }

    //Countdown at start of song
    async function countdown(){
        //Sets the preview box to be the first chord in the song
        changePreview(chordOrder[0][0]);

       if(i < 3){
            //Changes the main box to be the number in the countdown
            changeChord(numbers[i][0]);
             //Increases index
            i++;
            //Pauses code for a set time
            setTimeout(countdown, (numbers[i-1][1])*beat*1000);
       }
       else{
            //Calls the playSequence function to play the song
            playSequence(chordOrder, 0);
       }
       
        
    }

    //Plays the chord sequence
    async function playSequence(sequence, index) {

        if (index < sequence.length) {
            //Makes sure song is not paused
            await pauseExecution();
            //Changes main box to be current chord
            changeChord(sequence[index][0]);

            if(index< sequence.length){
                //Changes preview
                changePreview(sequence[index+1][0]);
            }
            // Calculate the duration of the current chord
            const chordDuration = beat * 1000 * sequence[index+1][1];

            // Wait for the chord duration
            await new Promise((resolve) => setTimeout(resolve, chordDuration));

            // Recursively call playSequence for the next chord
            await playSequence(sequence, index + 1);
        }
    }

    //Pause song when space bar is hit
    document.addEventListener("keydown", function (event) {
        if (event.code === "Space" && !keyPressed) {
            event.preventDefault(); // Prevent scrolling from space bar
            togglePause(); // Pauses song
            keyPressed = true;
        }
    });

    //Prevents the pause function from being called until space bar is hit again
    document.addEventListener("keyup", function (event) {
        keyPressed = false;
    });

    function changeChord(image) {
        const picture = document.querySelector('.box1'); //makes a variable of all '.box1' objects that allows us to change its style
        picture.textContent = image[0]; //Changes text
        picture.style.backgroundColor = image[1]; //changes background colour
    }

    function changePreview(image) {
        //Works the same as changeChord but puts the image in preview box
        const picture = document.getElementById("preview");
        picture.textContent = image[0];
        picture.style.backgroundColor = image[1];
    }

    window.onload = countdown;

</script>
<div class="title-container">La Bamba</div>
<div class="flex-container">
    <div class="box1"></div>
    <div class="stack-container">
        <div id="pauseButton" onclick="togglePause()" style="background-image:url('/static/Media/pause.png')"></div>
        <div id="preview"></div>
    </div>
</div>

{% endblock %}
