{% extends "layout.html" %}

{% block content %}

<div class="button-container">
    <div onclick="window.location.href='{{ url_for("hotel_california") }}';" style="cursor: pointer;">Hotel California</div>
    <div onclick="window.location.href = '{{ url_for("thatll_be_the_day") }}';" style="cursor: pointer;">That'll Be The Day</div>
    <div onclick="window.location.href = '{{ url_for("la_bamba") }}';" style="cursor: pointer;">La Bamba</div>
    <div onclick="window.location.href='{{ url_for("let_it_be") }}';" style="cursor: pointer;">Let It Be</div>
    <div onclick="window.location.href = '{{ url_for("take_it_easy") }}';" style="cursor: pointer;">Take It Easy</div>
    <div onclick="window.location.href = '{{ url_for("come_on_lets_go") }}';" style="cursor: pointer;">Come On Let's Go</div>
</div>


{% endblock %}
